@font-face {
   font-family: 'Zen Antique';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/stanc/github/meganlyc.github.io/fonts/Zen Antique/regular.ttf') format('truetype');
}
